<div class="tab-container" *ngIf="activeComponent?.content">
    <div class="tab-header">
        <div  *ngFor="let tab of tabs; let i = index"
              (click)="activateTab(tab)"
              [class.active]="tab === activeComponent"
             class="tab-item">
            <ng-template
                    [ngTemplateOutlet]="activeComponent.titleTemplateRef"
                    [ngTemplateOutletContext]=" {$implicit: tab.content}">
            </ng-template>
            <p class="tab-close" (click)="close(i)">X</p>
        </div>
    </div>
    <div class="tab-body">
        <ng-template
                [ngTemplateOutlet]="activeComponent.bodyTemplateRef"
                [ngTemplateOutletContext]=" {$implicit: activeComponent.content}">
        </ng-template>
    </div>
</div>



